{% extends "base.html" %}

{% block title %}Sistema Web Telecirurgia{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <p>Faça login na sua conta.</p>

    <div class="container-forms">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            
            <div class="field">
                {{ form.email.label }}
                {{ form.email(size=30) }}
            </div>
            <div class="field">
                {{ form.password.label }}
                {{ form.password(size=30) }}
            </div>
            <div class="field remember-me-field">
                {{ form.remember_me }}
                {{ form.remember_me.label }}
            </div>
            <input type="submit" value="Salvar">
        </form>
    </div>

    <a href="/cadastro">Criar nova conta</a>
</div>

{% endblock %}