{% extends "base.html" %}

{% block title %}Sistema Web Telecirurgia{% endblock %}

{% block content %}
<div class="container">
    <h1>Post</h1>

    {% if current_user.is_authenticated %}
    <a href="/post/create">Criar novo post</a>
    {% endif %}

    {% for post in posts %}
    <div class="post-container container">
        <h2 class="post-title">
            {% if not post.title %}
                Postagem sem título de {{ post.user.username }}
            {% else %}
                {{ post.title }}
            {% endif %}
        </h2>
        <p>
            {{ post.body }}
        </p>
        <p class="data">
            {{ post.date }}
        </p>
        {% if current_user.id == post.user_id %}
        <a href="/post/delete/{{ post.id }}">DELETAR POSTAGEM</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}