@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.topbar {
    background-color: brown;
    display: flex;
    justify-content: space-between;

    color: white;

    margin-bottom: 20px;
}

.navbar {
    display: flex;
    margin-left: 50px;
}

.navbar * {
    padding: 0;
    margin: 0;
}

.navbar a {
    padding: 4px 10px;
    height: 100%;
}

.topbar a {
    text-decoration: none;
    color: white;
}

.topbar a:hover {
    background-color: rgb(240, 248, 255);
    color: brown;
}

i {
    color: white;
}

.i-space-right {
    padding-right: 10px;
}

.header-icon {
    color: brown;
    font-size: 50px;

    padding: 10px;
}

.header a {
    font-size: 20px;
    font-weight: bold;
    color: brown;
    text-decoration: none;
}

.header a:hover {
    background-color: transparent;
}

.login-link:hover i {
    color: brown;
}

.login-link {
    padding: 4px 10px;
    margin-right: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    font-family: "Zalando Sans SemiExpanded";
}

.container h1 {
    font-family: "Tinos";
    margin-bottom: 20px;
}

.container a {
    color: brown;
}

.flashes {
    width: 80%;
    margin: auto;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flashes .li {
    list-style-type: none;
}