@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

.topbar {
    background-color: brown;
    display: flex;
    justify-content: space-between;

    color: white;

    margin-bottom: 20px;
}

.navbar {
    display: flex;
    margin-left: 50px;
}

.navbar * {
    padding: 0;
    margin: 0;
}

.navbar a {
    padding: 4px 10px;
    height: 100%;
}

.topbar a {
    text-decoration: none;
    color: white;
}

.topbar a:hover {
    background-color: rgb(240, 248, 255);
    color: brown;
}

i {
    color: white;
}

.i-space-right {
    padding-right: 10px;
}

.header-icon {
    color: brown;
    font-size: 50px;

    padding: 10px;
}

.header a {
    font-size: 20px;
    font-weight: bold;
    color: brown;
    text-decoration: none;
}

.header a:hover {
    background-color: transparent;
}

.login-link:hover i {
    color: brown;
}

.login-link {
    padding: 4px 10px;
    margin-right: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    font-family: "Zalando Sans SemiExpanded";
}

.container h1 {
    font-family: "Tinos";
    margin-bottom: 20px;
}

.container a {
    color: brown;
}

.flashes {
    width: 80%;
    margin: auto;
}

.flashes li {
    background-color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    list-style-type: none;

    color: black;
    background-color: gray;
}

.flashes li.success {
    background-color: green;
    color: white;
}

.flashes li.error {
    background-color: red;
    color: white;
}

.post-container {
    margin-top: 20px;
    border-radius: 0 10px 10px 0 ;
    padding: 10px;

    border-left: 2px solid brown;

    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

.post-container:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.post-container .author {
    margin-left: 10px;
    color: rgb(70, 70, 70);
}

.post-container .data {
    text-align: right;
    font-style: italic;
}

a.new-post-btn {
    background-color: rgb(255, 255, 255);
    border: brown 1px solid;
    color: brown;
    padding: 10px;
    border-radius: 4px;

    text-decoration: none;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.new-post-btn i {
    margin-right: 5px;
    color: brown;
    transition: color 0.3s ease-in-out;
}

a.new-post-btn:hover {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: brown;
    color: white;
}

a.new-post-btn:hover i {
    transition: color 0.3s ease-in-out;
    color: white;
}

.container-info-usuario {
    margin-bottom: 40px;

    color: white;
    background-color: brown;
    width: 300px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.container-info-usuario p {
    text-align: center;
}

.nome-icone-papel i {
    color: brown;
    font-size: 50px;
    margin-bottom: 20px;
}

.container-info-usuario .nome-icone-papel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid brown;
    border-radius: 5px 5px 0 0;

    color: brown;
}

.container-info-usuario .detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    padding: 0 20px 10px 20px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.container-info-usuario .detalhes a {
    color: white;
}