{% extends "base.html" %}

{% block title %}Sistema Web Telecirurgia{% endblock %}

{% block content %}

<div class="container container_info_usuario">
    <h1>{{ current_user.username }}</h1>
    <p><strong>Tipo de usuário: </strong>{{ current_user.type_user }}</p>
    <a href="/logout">Sair...</a>
</div>
    
<div class="container posts_container">
    <h2>Meus posts</h2>
    {% if posts %}
        {% for post in posts %}
        <div class="post-container container">
            <h2 class="post-title">
                {% if not post.title %}
                    Postagem sem título de {{ post.user.username }}
                {% else %}
                    {{ post.title }}
                {% endif %}
            </h2>
            <p>
                {{ post.body }}
            </p>
            <p class="data">
                {{ post.date }}
            </p>
            <a href="post/{{ post.id }}/delete">APAGAR POSTAGEM</a>
        </div>
        {% endfor %}
    {% else %}
    <p>sem posts</p>
    
    {% endif %}
</div>

{% endblock %}