<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <a href="/"><i class="fa-solid fa-hospital-user header-icon"></i>GERENCIAMENTO DA GARRA ROBÓTICA</a>
    </div>
    <div class="topbar">
        <div class="navbar">
            <a href="/post">Novo Post</a>
            <a href="#">Posts2</a>
            <a href="#">Posts3</a>
        </div>

        {% if not current_user.is_authenticated %}
        <a href="/login" class="login-link"><i class="fa-solid fa-user i-space-right"></i>Login</a>
        {% else %}
        <a href="/perfil" class="login-link"><i class="fa-solid fa-user i-space-right"></i>Meu Perfil</a>
        {% endif %}
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container">
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>